[Unit]
Description=uWSGI instance to serve Brewmoth
After=network.target

[Service]
User=palmada
Group=www-data

WorkingDirectory=/brewmoth/
Environment="PATH=/brewmoth/brewvenv/bin"
ExecStart=/brewmoth/brewvenv/bin/uwsgi --ini /brewmoth/brewmoth_server/brewmoth-wsgi.ini

[Install]
WantedBy=multi-user.target